@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* height: 3000px; */
}
body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #222831;
    letter-spacing: .05rem;
}
:root{
    --color: #5C8984
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ******************** */
/* ****HEADER BASLANGIC******* */
/* ******************* */
header{
    background-image: linear-gradient(rgba(0, 0, 0, .2) , rgba(0, 0, 0, .7)), url(/IMAGE/pexels-beyza-kaplan-8134609.jpg);
    height: 98vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.side-navbar{
    position: relative;
    height: 98vh;
    width: 20%;
    background: linear-gradient(transparent , rgba(0, 0, 0, 0.8));
    /* burada gradinentte transparan görünüm elde ettim */
}
.logo{
    text-align: start;
}
.logo img{
    border-radius: 100%;
    margin-top: 4rem;
    margin-left: 3rem;
}
.navParent-link{
    padding: 5rem 0 0 3rem;
}
.navParent-link li{
    padding-bottom: 5rem;
}
.navParent-link a::before{
    content: "\25CF";
    color: #fff;
    font-size: 2.5rem;
    margin-right: .5rem;
    transition: color .3s linear;
}
/* a önündeki before ları content içerisine hex değeri ile getirdim */
.navParent-link a{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    transition: color .3s linear;
}
.navParent-link a:hover{
    color: var(--color);
}
/* a hover olduğumda iconlar değişmiyordu a hover olduğunda before da renk tanımladım */
.navParent-link a:hover::before{
    color: var(--color);
}
.navParent-icon{
    position: absolute;
    bottom: 1rem;
    left: 3rem;
}
/* dikey olarak durması için inline-block olmaktan çıkardım */
.navParent-icon li{
    /* display: inline-block; */
    margin-bottom: .5rem;
}
.navParent-icon a{
    font-size: 3.5rem;
    color: #fff;
    transition: color .2s linear;
}
.navParent-icon a:hover{
    color: var(--color);
}
/* align-self ile dikeyde hizaladım */
main{
    align-self: center;
    margin-right: 5rem;
    color: #fff;
}
.mainText-first{
    font-size: 3rem;
}
.mainText-second{
    font-size: 6rem;
}
/* relative vermemizin sebebi before u buton içine yerleştirmek */
/* overflow kullanmazsak taşan kısımlar gösterilir */
/* z-index değerleri verilmesi buton her zaman üstte görünmesiiçin before dan */
.btn{
    position: relative;
    width: 180px;
    height: 60px;
    padding: 1rem;
    color: #222831;
    font-weight: 600;
    border: 3px solid #fff;
    /* border: none; */
    border-radius: 15px;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    z-index: 2;
    overflow: hidden;
}
/* ilk olarak width vermiyoruz çünkü hover olunca hepsini kaplayacak butonun */
/* absolute ile boton içinde before konumlandırıyoruz */
/* block yapıyoruz ki bulunduğu alanı kaplasın */
.btn::before{
    content: '';
    width: 0;
    height: 54px;
    border-radius: 15px;
    background-color: var(--color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    transition: width, .5s linear ;
    color: #fff;
}
/* hover olduğunda width değerini buton width kadar ayarlıyoruz */
.btn:hover::before{
    width: 180px;
}
.btn:hover{
    cursor: pointer;
}
/* ***RESPONSİVE ALT MENÜ***** */
.header-container{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header-footer{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color);
    /* opacity: .9; */
    height: 67px;
    padding: .6rem .3rem;
    z-index: 99;
}
.header-first{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}
.header-first a{
    color: #fff;
}
.icon{
    font-size: 2.3rem;
    color: #fff;
}
/* ***RESPONSİVE ALT MENÜ***** */

/* ******************** */
/* ****HEADER BITIS******* */
/* ******************* */

/* ******************** */
/* ****ABOUT BASLANGIC******* */
/* ******************* */
.container{
    width: 85%;
    margin: auto;
}
.aboutParent{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}
.aboutCard-first , .aboutCard-second{
    width: 33%;
    border: 3px solid rgb(188, 183, 183);
    margin-right: 2rem;
    border-radius: 3rem;
}
.about-brdrbtm{
    border-bottom: 3px solid var(--color);
}
/* ABOUT CARD FİRST */
.aboutCard-first{
    padding: 4rem;
    position: relative;
}
.aboutCard-first h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}
.aboutCard-first h3{
    margin-bottom: 1rem;
}
/* card üstüne absolute ile icon konumlandırdım ve carda hover olunca translate ile yukarı kaydırdım */
/* border kesilmiş gibi görünmesi için background beyaz rengi vererek çözdüm */
.aboutCard-first i{
    font-size: 7rem;
    position: absolute;
    top: -30px;
    left: 10%;
    background-color: #fff;
    color: var(--color);
    transition: transform .4s linear;
}
.aboutCard-first:hover i{
    transform: translateY(-45px);
}
/* ABOUT CARD SECOND */
.aboutCard-second{
    padding: 4rem;
    position: relative;
}
.aboutCard-second h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}
.about-second-list{
    font-weight: bolder;
    font-size: 2rem;
}
.aboutCard-second li{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.aboutCard-second i{
    font-size: 7rem;
    position: absolute;
    top: -30px;
    left: 10%;
    background-color: #fff;
    color: var(--color);
    padding: 0 .7rem;
    transition: transform .4s linear;
}
.aboutCard-second:hover i{
    transform: translateY(-45px);
}
/* ABOUT CARD THIRD */
.aboutCard-third{
    width: 25%;
    align-self: center;
    position: relative;
}
/* block yapmamın sebebi küçük bir oynama kazandırdım */
/* filter imageler üzerinde oynama etiketi grayscale siyah beyaz görünüm */
/* ilk baş 1 den büyük scale değeri vererek hem büyük durmasını hemde hover olduğunda küçülmesini sağladım */
.aboutCard-third .aboutCard-image-box img{
    display: block;
    width: 83%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    filter: grayscale(0);
    transition: transform 2s, filter 1s;
    border-radius: 30px;
}
.aboutCard-third:hover .aboutCard-image-box img{
    filter: grayscale(.7);
    /* scale: 1; */
    transform: scale(1.1);
}
/* burada yazıları image üzerinde transform ile ortaladım flex ile de yapılabilir */
.aboutCard-text-box{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: #fff;
}
/*  isim alanlarına belli yükseklik vererek translate olayı için başlama noktası gibi belirttim*/
.aboutCard-text-box .text-name{
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.aboutCard-text-box .text-name2{
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.text-name span{
    display: block;
    transition: transform .5s ease;
    font-size: 2.2rem;
    color: #222831;
    font-weight: 700;
}
/* gecikme ekledim hover olunca ve y ekseninde kaydırdım */
.text-name span{
    transition-delay: .2s;
    transform: translateY(100%);
}
.text-name2 span{
    display: block;
    transition: transform .5s ease;
    font-size: 2rem;
    font-weight: 500;
}
.text-name2 span{
    transition-delay: .2s;
    transform: translateY(-100%);
}
/* carda hover olunca başlangıç noktalarına gelmesi için */
.aboutCard-third:hover .aboutCard-text-box span{
    transform: translateY(0%);
}
.aboutCard-image-box{
    position: relative;
}
.card-border-image{
    border: 1rem solid var(--color);
    position: absolute;
    top: -60px;
    left: -70px;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    z-index: -1;
    transition: transform 2s;
}
/* image-card ile aynı anda küçülüp büyümesi için hover scale verdim */
.aboutCard-third:hover .card-border-image{
    transform: scale(.9);
}
/* ******************** */
/* ****ABOUT BITIS******* */
/* ******************* */

/* ******************** */
/* ****PORTFOLIO BASLANGIC******* */
/* ******************* */
.portfolio{
    margin-top: 10rem;
}
.baslik-first{
    background-color: var(--color);
    display: inline-block;
    color: #fff;
    padding: 1.2rem 3rem;
    border-radius: 30px 5px 60px 30px;
    transition: border-radius .3s linear;
}
.baslik-first:hover{
    border-radius: 5px 60px 5px 60px;
}
.port-baslik-list{
    margin-top: 3rem;
}
.port-baslik-list ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.port-baslik-list li{
    padding: .5rem 1rem;
    border-radius: 30px;
    transition: background-color .3s linear;
    background-color: var(--color);
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--color);
}
/* yukarıdaki box-shadow yazımı buton çevresinde ayrı bir border oluşturmak için kullandım */
.port-baslik-list li:hover{
    background-color: #fff;
}
.port-baslik-list li:hover a{
    color: var(--color);
}
.port-baslik-list a{
        color: #fff;
        font-size: 1.7rem;
        font-weight: 700;
        transition: color .3s linear;
}
.list-icon{
    display: none;
}
.list-icon span{
    font-size: 4rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: color , background-color .3s linear;
    background-color: var(--color);
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--color);
    color: #fff;
}
.list-icon span:hover{
    background-color: #fff;
    color: var(--color);
}
/* ilk olarak normal gap değeri verdim fakat bölüm yüksekliklerinde kaymlar oldu daha sonra sorunu sütunlar arasına aralık verme yolu ile hallettim */
.port-image{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    column-gap: 2rem;
}
.port-width-2{
    width: 25%;
}
.port-width{
    width: 50%;
    position: relative;
}
/* burada da aynı şekilde boyutlarda oynama olunca flex yapı yaptım ve row-gap kullandım */
.port-image-item{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.port-image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.port-content{
    position: relative;
}
.port-content img{
    width: 100%;
    height: 100%;
}
/* image üzerinde textleriabsolutr ile konumlandırdım flex yapı vermemin sebebi textleri image üzerinde tam konumlandırmak vermediğim zaman textler kayıyor */
/* burada imageler üzerine background rengi verdim ve metinler yazıyor fakat ilk olarak bunların gözükmemesi hover olunca gözükmesi için opacity değerlerini sıfırladım hover olunca opacity 1 yaptım */
.port-content-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 137, 132, .7);
    text-align: center;
    opacity: 0;
    transition: opacity .3s linear;
}
.port-text{
    font-size: 2.5rem;
    color: #fff;
}
.port-item1:hover .port-opacity-1{
    opacity: 1;
}
.port-item2:hover .port-opacity-2{
    opacity: 1;
}
.port-item3:hover .port-opacity-3{
    opacity: 1;
}
/* ******************** */
/* ****PORTFOLIO BITIS******* */
/* ******************* */

/* ******************** */
/* ****CONTACT BASLANGIC******* */
/* ******************* */
footer{
    margin-top: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, .4) , rgba(0, 0, 0, .4)), url(/IMAGE/GoogleMap.webp);
    background-position: center;
    background-size: cover;
    padding: 7rem;

}
.footerParent{
    display: flex;
    justify-content: space-between;
}
.footer-input{
    width: 60%;
    background-color: #fff;
    padding: 5rem;
}
.footer-input h1{
    margin-bottom: 5rem;
    font-weight: 500;
}
.footer-input h1 span{
    border-bottom: 4px solid var(--color);
}
.footer-input form input, textarea{
    display: block;
    width: 100%;
    margin-bottom: 1.8rem;
    padding: 1.5rem 1.8rem;
    font-size: 2rem;
}
.footer-input form input:focus{
    border: 4px solid var(--color);
    outline: none;
}
.footer-input form textarea{
    font-family: 'Open Sans', sans-serif;;
}
.footer-input form textarea:focus{
    border: 4px solid var(--color);
    outline: none;
}
.footer-input form button{
    display: block;
    width: 100%;
    padding: 1.5rem 2rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--color);
    transition: background-color .3s linear;
    border: none;
}
.footer-input form button:hover{
    background-color: rgba(92, 137, 132, .7);
}

.footer-contact{
    width: 35%;
    background-color: #fff;
    padding: 5rem;
}
.footer-contact h1{
    margin-bottom: 5rem;
    font-weight: 500;
}
.footer-contact h1 span{
    border-bottom: 4px solid var(--color);
}
/* burada iconlar ile bilgiler yanya gelmesi için flex kullandım  */
.footer-contact-info{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4rem;
}
.contact-icon{
    font-size: 3.5rem;
    margin-right: 2rem;
}
.contact-list-1 {
    font-weight: bolder;
    font-size: 2rem;
}
.footer-icon ul{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}
/* .footer-icon li{
    display: inline-block;
    margin-right: 2.5rem;
} */
.footer-icon li a{
    font-size: 3.5rem;
    color: var(--color);
    transition: opacity .2s linear;
}
.footer-icon li:hover a{
    opacity: .8;
}
/* ******************** */
/* ****CONTACT BITIS******* */
/* ******************* */
















@media(max-width:1324px){
    .card-border-image{
        width: 250px;
        height: 350px;
    }
}
@media(max-width:1155px){
    .card-border-image{
        width: 200px;
        height: 300px;
        left: -50px;
    }
}
@media(max-width:992px){
    header{
        height: 75vh;
    }
    .logo img{
        width: 100px;
    }
    .side-navbar{
        height: 75vh;
    }
    .navParent-link{
        padding: 5rem 0 0 2rem;
    }
    .navParent-link a{
        font-size: 1.7rem;
    }
    .navParent-link a::before{
        font-size: 2rem;
    }
    .navParent-icon li{
        margin-right: .7rem;
    }
    .navParent-icon ul{
        left: 1.5rem;
    }
    .navParent-icon a{
        font-size: 2.5rem;
    }
    .mainText-second{
        font-size: 5rem;
    }
    .aboutParent{
        flex-direction: column;
    }
    .aboutParent article{
        width: 100%;
        margin-bottom: 72px;
        text-align: center;
    }
    .aboutCard-third .aboutCard-image-box img{
        width: 40%;
        margin: auto;
    }
    .aboutCard-text-box{
        left: 50%;
        font-size: 2rem;
    }
    .card-border-image{
        width: 400px;
        height: 500px;
        left: 150px;
        top: -80px;
    }
    footer{
        padding: 1rem 2rem;
        margin-top: 0;
    }
    .footerParent{
        display: block;
    }
    .footer-input{
        width: 100%;
        margin-bottom: 3rem;
        margin-top: 2rem;
        padding: 3rem;
    }
    .footer-contact{
        width: 100%;
        padding: 3rem;
        margin-bottom: 2rem;
        text-align: center;
    }.footer-contact-info{
        justify-content: center;
    }
    .footer-icon ul{
        justify-content: center;
        gap: 3rem;
    }
    .port-image{
        display: block;
    }
    .port-image-item{
        flex-direction: row;
        margin-bottom: 3rem;
        column-gap: 2rem;
    }
    .port-width{
        width: 100%;
    }
    .port-width-2{
        width: 100%;
    }
}
@media(max-width:905px){
    .card-border-image{
        width: 300px;
        height: 450px;
        left: 150px;
    }
}
@media(max-width:768px){
    .container{
        width: 93%;
    }
    nav{
        display: none;
    }
    .header-footer{
        display: block;
    }
    main{
        margin-left: 2rem;
    }
    .mainText-first{
        font-size: 2.5rem;
    }
    .mainText-second{
        font-size: 4rem;
    }
    .aboutParent article{
        padding: 1.5rem;
    }
    .aboutParent article h1{
        font-size: 2.5rem;
        margin-top: 3rem;
    }
    .aboutParent article i{
        font-size: 5rem;
    }
    .aboutCard-first:hover i{
        transform: translateY(-20px);
    }
    .aboutCard-second:hover i{
        transform: translateY(-20px);
    }
    .card-border-image{
        display: none;
    }
    footer{
        padding: 1rem 0;
        margin-bottom: 5rem;
    }
    .footer-input{
        width: 100%;
        margin-bottom: 3rem;
        margin-top: 1rem;
        padding: 1rem;
    }
    .footer-contact{
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        /* text-align: center; */
    }
    .footer-contact-info{
        justify-content: center;
    }
    .footer-icon ul{
        justify-content: center;
        gap: 3rem;
    }
    .port-baslik{
        text-align: center;
        position: relative;
    }
    .port-baslik-list ul{
        display: none;
    }
    .list-icon{
        display: block;
        text-align: center;
    }
    .portfolio{
        margin-top: 0;
    }
    .port-image-item{
        display: block;
        margin-bottom: .5rem;
    }
    .responsive .port-baslik-list ul{
        display: block;
        margin-top: 12rem;
    }
    .responsive .port-baslik-list li{
        margin-bottom: 2rem;
    }
    .responsive .list-icon{
        display: block;
        position: absolute;
        top: 93px;
        left: 320px;
    }
}
@media(max-width:450px){
    .text-name span{
        font-size: 1.6rem;
    }
    .text-name2 span{
        font-size: 1.5rem;
    }
    .aboutParent{
        margin-top: 3rem;
    }
    .aboutCard-first{
        margin-top: -3rem;
    }
    #about{
        margin-top: 1rem;
    }
    .responsive .list-icon{
        display: block;
        position: absolute;
        top: 93px;
        left: 144px;
    }
}
