@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 2000px;
}
body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #222831;
    letter-spacing: .05rem;
}
:root{
    --color: #5C8984
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ******************** */
/* ****HEADER BASLANGIC******* */
/* ******************* */
header{
    background-image: url(/IMAGE/pexels-beyza-kaplan-8134609.jpg);
    height: 98vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.side-navbar{
    position: relative;
    height: 98vh;
    width: 20%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}
.navParent-link{
    padding: 5rem 0 0 3rem;
}
.navParent-link li{
    padding-bottom: 5rem;
}
.navParent-link a::before{
    content: "\25CF";
    color: #fff;
    font-size: 2.5rem;
    margin-right: .5rem;
    transition: color .3s linear;
}
.navParent-link a{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    transition: color .3s linear;
}
.navParent-link a:hover{
    color: var(--color);
}
.navParent-link a:hover::before{
    color: var(--color);
}
.navParent-icon{
    position: absolute;
    bottom: 1rem;
    left: .8rem;
}
.navParent-icon li{
    display: inline-block;
    margin-right: 1rem;
}
.navParent-icon a{
    font-size: 3rem;
    color: #fff;
    transition: color .3s linear;
}
.navParent-icon a:hover{
    color: var(--color);
}
main{
    align-self: center;
    margin-right: 5rem;
    color: #fff;
}
.mainText-first{
    font-size: 3rem;
}
.mainText-second{
    font-size: 6rem;
}
.btn{
    background-color: var(--color);
    padding: 1rem;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    transition: color, background-color, border, .4s linear ;
}
.btn:hover{
    border: 3px solid var(--color);
    background-color: #fff;
    color: var(--color);
}
.logo{
    text-align: start;
}
.logo img{
    border-radius: 100%;
    margin-top: 4rem;
    margin-left: 3rem;
}
/* ***RESPONSİVE ALT MENÜ***** */
.header-container{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header-footer{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color);
    opacity: .9;
    height: 67px;
    padding: .6rem .3rem;
}
.header-first{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}
.header-first a{
    color: #fff;
}
.icon{
    font-size: 2.3rem;
    color: #fff;
}
/* ***RESPONSİVE ALT MENÜ***** */

/* ******************** */
/* ****HEADER BITIS******* */
/* ******************* */

/* ******************** */
/* ****ABOUT BASLANGIC******* */
/* ******************* */
.container{
    width: 85%;
    margin: auto;
}
.aboutParent{
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}
.aboutCard-first , .aboutCard-second , .aboutCard-third{
    width: 33%;
    border: 3px solid rgb(188, 183, 183);
    margin-right: 2rem;
    border-radius: 1rem;
}
.about-brdrbtm{
    border-bottom: 3px solid var(--color);
}
/* ABOUT CARD FİRST */
.aboutCard-first{
    padding: 4rem;
    position: relative;
}
.aboutCard-first h1{
    font-size: 3rem;
    margin-bottom: 5rem;
}
.aboutCard-first h3{
    margin-bottom: 1rem;
}
.aboutCard-first i{
    font-size: 7rem;
    position: absolute;
    top: 0px;
    left: 10%;
    transform: translateY(-70px);
    background-color: #fff;
    color: var(--color);
}
/* ABOUT CARD SECOND */
.aboutCard-second{
    padding: 4rem;
    position: relative;
}
.aboutCard-second h1{
    font-size: 3rem;
    margin-bottom: 5rem;
}
.about-second-list{
    font-weight: bolder;
    font-size: 2rem;
}
.aboutCard-second li{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.aboutCard-second i{
    font-size: 7rem;
    position: absolute;
    top: 0px;
    left: 10%;
    transform: translateY(-70px);
    background-color: #fff;
    color: var(--color);
    padding: 0 .7rem;
}
/* ABOUT CARD THIRD */
.aboutCard-third{
    padding: 4rem;
    position: relative;
}
.aboutCard-third h1{
    font-size: 3rem;
    margin-bottom: 5rem;
}
.aboutCard-third li{
    display: inline-block;
    padding-bottom: 2rem;
    font-size: 1.8rem;
}
.aboutCard-third li i{
    font-size: 3rem;
    color: var(--color);
}
.bi-gear{
    font-size: 7rem;
    position: absolute;
    top: 0px;
    left: 10%;
    transform: translateY(-70px);
    background-color: #fff;
    color: var(--color);
}




@media(max-width:992px){
    header{
        height: 75vh;
    }
    .logo img{
        width: 100px;
    }
    .side-navbar{
        height: 75vh;
    }
    .navParent-link{
        padding: 5rem 0 0 2rem;
    }
    .navParent-link a{
        font-size: 1.7rem;
    }
    .navParent-link a::before{
        font-size: 2rem;
    }
    .navParent-icon li{
        margin-right: .7rem;
    }
    .navParent-icon ul{
        left: 1.5rem;
    }
    .navParent-icon a{
        font-size: 2.5rem;
    }
    .mainText-second{
        font-size: 5rem;
    }
}
@media(max-width:768px){
    nav{
        display: none;
    }
    .header-footer{
        display: block;
    }
    main{
        margin-left: 2rem;
    }
    .mainText-first{
        font-size: 2.5rem;
    }
    .mainText-second{
        font-size: 4rem;
    }
}